
.content {
    display: inline-block;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: auto;
}

td, th {
    padding: 4px;
  }

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    color: #4d4b59;
	background: #f7f7f7;
  }

.tablinks {
	/* border: none; */
	text-align: center;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.containersmall {
	width: 1100px;
	min-height: 10px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: left;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}

.instructorphoto img {
  width: 120px;
  border-radius: 120px;
  margin-bottom: 10px;
}

.instructor {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-right: 20px;
}

.cvprImg {
    height: 80%;
    width: 80%;
    margin-bottom: 1em;
    object-fit: contain;
}

.container {
	width: 1100px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	text-align: center;
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
}

.container p {
    text-align: left
}

.center-header {
	text-align: center	
}

.textContainer {
	width: 1100px;
	min-height: 200px;
	margin: 0 auto; /* top and bottom, right and left */
	border: 1px hidden #000;
	/* border: none; */
	padding: 1em 1em 1em 1em; /* top, right, bottom, left */
	color: #4d4b59;
	background: #f7f7f7;
	text-align: center;
}

.profileDescriptionImg {
    height: 10em;
    width: 10em;
    margin-bottom: 1em;
    object-position: top;
    object-fit: cover;
    border-radius: 50%;
}

.imgDiv {
    text-align: center;    
}



.profileDescription a {
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 2em;
}

.profileDescription {
    margin-top: 1%;
}

    .profileDescription p {
        text-align: justify;
        text-justify: inter-word;
        font-size: 1.5em;
        color: darkslategray;
        margin-top: 10px;
    }

.parent {
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
    padding: 1%;
}

.child {
    height: 70%;
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.nameBox {
    transition: .5s ease;
    opacity: 0.7;
    transform: translate(0%, -100%);
    background-color: rgb(191,144,0);
}

.nameText {
    text-align: center;
    color: black;
    font-size: 1em;
    font-weight: bold;
    opacity: 1;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.backIcon {
    font-size: 300%;
    font-weight: bold;
    color: rgb(191,144,0);
    text-align: left;
    padding-top: 10%;
    cursor: pointer;
}

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
}

@keyframes fadein {
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 100%;
        width: 100%;
    }
}

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 100%;
        width: 100%;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 100%;
        width: 100%;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 100%;
        width: 100%;
    }
}

@keyframes fadein65 {
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 65%;
        width: 65%;
    }
}

@-moz-keyframes fadein65 { /* Firefox */
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 65%;
        width: 65%;
    }
}

@-webkit-keyframes fadein65 { /* Safari and Chrome */
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 65%;
        width: 65%;
    }
}

@-o-keyframes fadein65 { /* Opera */
    from {
        opacity: 0;
        height: 20%;
        width: 20%;
    }

    to {
        opacity: 1;
        height: 65%;
        width: 65%;
    }
}

@media only screen and (max-width: 470px) {
    #profileDetails a {
        font-weight: 500;
        font-size: 1.5em;
    }

    #profileDetails p {
        font-size: 1.2em;
        color: darkslategray;
        margin-top: 10px;
    }

    .profileDescription a {
        font-weight: 500;
        font-size: 1.5em;
    }

    .profileDescription p {
        font-size: 1.2em;
        color: darkslategray;
        margin-top: 10px;
    }

    .backIcon {
        font-size: 250%;
    }
}

.body{
    font-family: 'Times New Roman', Times, serif
}
